.popup {
  width: 200px;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

span {
  font-weight: bolder;
}

.submit {
  margin: 0 auto;
  width: 60px;
}